<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Conway's Game Of Life</title>
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<canvas width="800" height="600">

	</canvas>

  <summary>Статистика</summary>
	<details open class="stats">

		<div class="stats__item">
			<label for="js-output-gen">Поколение:</label>
			<output id="js-output-gen">0</output>
		</div>

		<div class="stats__item">
			<label for="js-output-cells-count">Всего клеток:</label>
			<output id="js-output-cells-count">0</output>
		</div>

		<div class="stats__item">
			<label for="js-output-alive-cells-count">Живых клеток:</label>
			<output id="js-output-alive-cells-count">0</output>
		</div>

	</details>

	<div class="game-controls">

		<div class="row">
			<button type="button" id="js-run-button"
			        class="config-button"> Запустить </button>
			<button type="button" id="js-step-button"
			        class="config-button"> Шаг </button>
			<button type="button" id="js-pause-button"
			        class="config-button"> Стоп </button>
			<button type="button" id="js-clear-button"
			        class="config-button"> Очистить </button>
		</div>

		<br>
		<div class="row">
			<label>
					Скорость:
					<input type="number" id="js-speed-input" min="1"
								 max="5" value="2">
			</label>
		</div>

		<br>
		<div>
			<label>
				Размер клетки:
					<input type="range" step="10" id="js-range"
						min="20" max="40" value="40">
					<output id="js-output">40</output>
			</label>
		</div>

		<br>
		<div class="row">
				<label for="js-config-select"> Конфигурация: </label>
				<select id="js-config-select">
					<option value="">None</option>
				</select>
				<button type="button" name="button" id="js-random-btn">
					Рандом
				</button>
				<button type="button" name="button" id="js-save-btn">
					Сохранить
				</button>

				<div id="js-save-config" class="save-config">
					<label for="save-name-field">Сохранить как:</label>
					<input type="text" name="" value="" id="js-save-name-field">
					<span class="save-config-tooltip" id="js-save-config-tooltip">
						Пожалуйста, введите уникальное имя.
					</span>
				</div>

		</div>

	<div id="js-config" style="display: none"> <%= config %> </div>
	<script src="bundle.js"></script>
</body>
</html>
