<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Conway's Game Of Life</title>
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<canvas width="800" height="600">

	</canvas>

  <summary>Статистика</summary>
	<details open class="stats">

		<div class="stats__item">
			<label for="js-output-gen">Поколение:</label>
			<output id="js-output-gen">0</output>
		</div>

		<div class="stats__item">
			<label for="js-output-cells-count">Всего клеток:</label>
			<output id="js-output-cells-count">0</output>
		</div>

		<div class="stats__item">
			<label for="js-output-alive-cells-count">Живых клеток:</label>
			<output id="js-output-alive-cells-count">0</output>
		</div>

	</details>

	<div class="game-controls">

		<div class="row">
			<button type="button" id="run-button"
			        class="config-button"> Запустить </button>
			<button type="button" id="step-button"
			        class="config-button"> Шаг </button>
			<button type="button" id="pause-button"
			        class="config-button"> Стоп </button>
			<button type="button" id="clear-button"
			        class="config-button"> Очистить </button>
		</div>

		<br>
		<div class="row">
			<label>
					Скорость:
					<input type="number" id="speed-input" min="1"
								 max="5" value="2">
			</label>
		</div>

		<br>
		<div>
			<label>
				Размер клетки:
					<input type="range" step="10" id="js-range"
						min="20" max="40" value="40">
					<output id="js-output">40</output>
			</label>
		</div>

		<br>
		<div class="row">
				<label for="config-select"> Конфигурация: </label>
				<select id="config-select">
						<optgroup label="Устойчивые">
							<option value="">Блок</option>
							<option value="">Ящик</option>
							<option value="">Улей</option>
							<option value="">Корабль</option>
							<option value="">Пруд</option>
						</optgroup>

		        <optgroup label="Флип-флопы">
		        	<option value="">Мигалка</option>
		        	<option value="">Навигационные огни</option>
		        	<option value="">Жаба</option>
		        </optgroup>

						<optgroup label="Долгожители">
							<option value="">r-пентамино</option>
							<option value="">Ворота</option>
						</optgroup>

						<optgroup label="Интересные">
							<option value="">Чеширский кот</option>
							<option value="">Агар</option>
							<option value="">Тумблер</option>
							<option value="">Жнейка</option>
							<option value="">Планер</option>
							<option value="">Планерное ружьё</option>
							<option value="">Восьмёрка</option>
						</optgroup>
					<optgroup label="Пользовательские"></optgroup>
				</select>
				<button type="button" name="button" id="random-btn">
					Рандом
				</button>
		</div>

	<div id="config" style="display: none"> <%= config %> </div>

	<script src="bundle.js"></script>
</body>
</html>
