.stats{
  margin-top: 5px;
  margin-bottom: 20px;
}

.stats__item{
  display: inline-block;
  margin-top: 5px;
  margin-right: 20px;
}

.save-config{
  position: relative;
}

  .save-config-tooltip {
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 60%;
    opacity: 0;
    transition: opacity 1s;
    margin-left: -60px;
    /*visibility: hidden;*/
    width: 170px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
  }

  .save-config-tooltip::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
